In [21]:
import pandas as pd

In [22]:
df = pd.read_csv(r"D:\ITVedant\ML\Energy_Consumption_prediction\data\house_energy_consumption.csv")

In [23]:
df.head()

,House_Age,Number_of_Occupants,Temperature,Humidity,Day_of_Week,Is_Holiday,Appliance_Usage,Outdoor_Light_Intensity,Window_Open,Hour_of_Day,AC_Usage,Heater_Usage,Total_Energy_Consumption
0,39,5,13.427675,55.326243,1,0,3.117238,3809.951096,0,16,1.139113,1.297489,6.73
1,29,1,22.894035,70.122169,0,0,1.497287,6336.378572,1,20,0.340074,0.726100,3.93
2,15,6,25.078204,68.099616,5,0,2.607115,1928.338130,0,13,1.232131,0.041181,4.87
3,43,3,21.109679,64.599561,1,0,2.518219,4173.320884,0,10,0.828875,0.635337,5.49
4,8,1,15.556941,55.665924,4,0,2.936067,3576.325072,1,3,1.570343,1.061767,6.49

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   House_Age                 16000 non-null  int64
 1   Number_of_Occupants       16000 non-null  int64
 2   Temperature               16000 non-null  float64
 3   Humidity                  16000 non-null  float64
 4   Day_of_Week               16000 non-null  int64
 5   Is_Holiday                16000 non-null  int64
 6   Appliance_Usage           16000 non-null  float64
 7   Outdoor_Light_Intensity   16000 non-null  float64
 8   Window_Open               16000 non-null  int64
 9   Hour_of_Day               16000 non-null  int64
 10  AC_Usage                  16000 non-null  float64
 11  Heater_Usage              16000 non-null  float64
 12  Total_Energy_Consumption  16000 non-null  float64
dtypes: float64(7), int64(6)
memory usage: 1.6 MB

In [25]:
features = ['House_Age','Number_of_Occupants','Temperature','Humidity','Day_of_Week','Is_Holiday','Window_Open','Hour_of_Day','Appliance_Usage','AC_Usage','Heater_Usage']
x=df[features]
y=df['Total_Energy_Consumption']

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

In [28]:
models = {
    "Linear Regression":LinearRegression(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Gradient Boosting":GradientBoostingRegressor(),
    "XGBoost":XGBRegressor(verbosity=0),
    "Support Vector Regressor":SVR(),
    "KNN Regressor":KNeighborsRegressor()
}

In [29]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

results = []

for name,model in models.items():
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    
    r2 = r2_score(y_test,y_pred)
    rmse = mean_squared_error(y_test,y_pred)
    mae = mean_absolute_error(y_test,y_pred)
    
    results.append({
        'Model':name,
        'R2 Score':r2,
        'RMSE':rmse,
        'MAE':mae
    })

In [30]:
result_df = pd.DataFrame(results).sort_values(by='R2 Score',ascending=False)

In [31]:
result_df

                      Model  R2 Score      RMSE       MAE
0         Linear Regression  0.951893  0.088766  0.237367
3         Gradient Boosting  0.945040  0.101410  0.252460
2             Random Forest  0.936746  0.116714  0.270190
4                   XGBoost  0.933014  0.123600  0.280856
5  Support Vector Regressor  0.932147  0.125199  0.278390
1             Decision Tree  0.853033  0.271178  0.409091
6             KNN Regressor  0.188651  1.497070  0.981463

In [44]:
best_model_name = result_df.iloc[0,0]
best_model = models.get(best_model_name)

In [45]:
import joblib
joblib.dump(best_model,"model.joblib")

['model.joblib']